@media screen and (max-width: 770px) {
 .list {
  width: 70%;
  margin-left: -26%;
 }
  .icons {
  padding-left: 23%;
 }

 .img {
 left: -20%;
 }
.content-container {
 width: 800px;
}
 .marker {
  display: none;
 }
 .exp {
  left: 240px;
 }
 .exp_text {
  left: 240px;
 }
 .sal_text {
  left: 370px;
  top: 10px;
 }
 .sal {
  left: 400px;
 }
 .cart_section {
  position: absolute;
  left: 500px;
  width: 300px;
 }
 .detal_info {
  width: 400px;
 }
 .by_page {
  left: 65%;
 }

.content-container {
 position: absolute;
 width: 620px;
}

.cart_section {
 width: 90px;
}
.cart_text{
 display: none;
}
.buttonCart {
 width: 50px;
 background-image: url('/image/Vector.png');
}

 .main {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 920px;
  height: 370px;
  left: 30px;
  top: 12px;
  background: #fff;
  margin: 0px;

}
.left_text {
 position: relative;
 width: 440px;
 height: 300px;
 left: 0px;
 top: 0px;
 background: #fff;
 margin: 20px 10px;
}
}